.pageoutline {
	width: 960px;
	margin: auto;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}
.clearfloat: {
	clear: both;
}
.header {
	height: 150px;
	border: solid black 1px;
	text-align: center;
	font-size: 70px;
	font-family: impact;
	background-color: yellow;
	position: fixed;
	margin: auto;
	width: 960px;
}
.footer {
	position: fixed;
	bottom: 0;
	background-color: grey;
	text-align: center;
	width: 960px;
	margin: auto;
	height: 50px;
}
.navbar {
	height: 100%;
	width: 200px;
	border: solid blue 1px;
	background-color: beige;
	position: fixed;
	overflow: auto;
	margin-top: 152px;
}
.pagecontent {
	height: auto;
	width: 757px;
	float: right;
	border: solid black 1px;
	padding-bottom: 50px;
	margin-top: 152px;
}
.paragraph {
	font-size: 20px;
	font-family: Verdana;
	padding: 20px;
	text-indent: 2.0em;
}
.paragraphminor {
	font-size: 18px;
	font-family: "Times New Roman";
	text-indent: 2.0em;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
a:link {
	color: blue;
}
a:visited {
	color: purple;
}
a:hover {
	color: red;
}
a:active {
	color: white;
}