---
layout: none
---
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>How to install Fusion 360</title>
    <link rel="stylesheet" type="text/css" href="/scouting/css/style.css" />
    <link rel="icon" type="img/png" href="/assets/images/ZLogo.png" />
    <link rel="apple-touch-icon" type="img/png" href="/assets/images/ZLogo.png" />
  </head>

  <body>
    <div class="pageoutline">
      {% include header.html %}
      {% include navbar.html %}
      <div class="pagecontent">
        <h1>Guides</h1>
          <h3>##THIS IS NOT WHAT WE USE FOR CAD ANYMORE, SEE <a href="tinkercad.html">TINKERCAD</a> INSTEAD##</h3>
          <h2>How to Install Autodesk Fusion 360, and Import/Export STL files</h2>
            <p>
              <em>(This is for Windows and Mac, but not Linux)</em><br/>
              Go to: <a href="https://www.autodesk.com/products/fusion-360/students-teachers-educators">Fusion 360</a><br/>
              In box 1, click <u>Sign in</u><br/>
              Enter the email: <u>beastbot2855@gmail.com</u><br/>
              Enter the password: <em>ask someone else on the team, I don't want to post it here</em><br/>
              In box 2, click <u>REGISTER</u><br/>
              In box 3, click <u>DOWNLOAD</u><br/>
              Save/Open the file, allow it to download, then sign in with the username & password above
            </p>
          <h2>How to Import an STL file</h2>
            <p>
              Click the <u>3x3 of square dots</u> in the top left corner<br/>
              Click the <u>Upload button</u><br/>
              Click <u>Select Files</u> or <u>Drag and Drop</u> your files onto the popup<br/>
              <em>(If you download files in a zipped folder, you must copy them out frist!)</em><br/>
              Once you have chosen all your files, click <u>Upload</u>
            </p>
          <h2>How to Export an STL file</h2>
            <p>
              In the top left of the modeling area, make sure you are in <u>MODEL</u> mode<br/>
              Drag your mouse over everything you want to export<br/>
              Click <u>MAKE</u> on the toolbar at the top<br/>
              Click <u>3D Print</u>
              Under <u>Output</u> uncheck <u>Send to 3D Print Utility</u> if it is checked<br/>
              Click <u>OK</u><br/>
              Choose where to export to and give it a name<br/>
              Click <u>Save</u>
            </p>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
