---
layout: none
---
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Guides</title>
		<link rel="stylesheet" type="text/css" href="/scouting/css/style.css" />
		<link rel="icon" type="img/png" href="/assets/images/ZLogo.png" />
		<link rel="apple-touch-icon" type="img/png" href="/assets/images/ZLogo.png" />
	</head>

	<body>
		<div class="pageoutline">
			{% include header.html %}
			{% include navbar.html %}
			<div class="pagecontent">
				<h1>Guides</h1>
					<p class="paragraph">This is the place to find guides on various things you might have to do for robotics</p>
					<h2>3D Printing</h2>
						<ul>
							<li><a href="tinkercad.html">How to get in to the team Tinkercad, and Import/Export STL files</a></li>
							<li><a href="slic3r.html">How to Install Slic3r, and load the BEASTBot config</a></li>
							<li>#OLD# <a href="fusion360.html">How to Install Autodesk Fusion 360, and Import/Export STL files</a> #OLD#</li>
						</ul>
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>
