---
layout: none
---
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>How to use Tinkercad</title>
		<link rel="stylesheet" type="text/css" href="/scouting/css/style.css" />
		<link rel="icon" type="img/png" href="/assets/images/ZLogo.png" />
		<link rel="apple-touch-icon" type="img/png" href="/assets/images/ZLogo.png" />
	</head>

	<body>
		<div class="pageoutline">
			{% include header.html %}
			{% include navbar.html %}
			<div class="pagecontent">
				<h1>Guides</h1>
					<h2>How to get in to the team Tinkercad, and Import/Export STL files</h2>
						<ol>
							<li>Go to: <a href="https://www.tinkercad.com/auth/shadowbox_fullscreen" target="_blank">Tinkercad</a><br/></li>
							<li>Enter the email: <u>beastbot2855@gmail.com</u><br/></li>
							<li>Enter the password: <em><u>Team Autodesk password</u>. If you don't know ask someone else on the team</em><br/></li>
							<li>You're in! Have fun CADing for BEASTBot 2855!</li>
						</ol>
					<h2>How to Import an STL file</h2>
						<ol>
							<li>Click the <u>Import</u> button in the upper right corner<br/></li>
							<li><u>Drag and Drop</u> a file or click on <u>Choose a file</u> then browse for and choose a file</li>
							<li>If you want, adjust the scale or change the dimensions of the new object. When done, click <u>Import</u></li>
						</ol>
					<h2>How to Export an STL file</h2>
						<ol>
							<li>Click the <u>Export</u> button in the upper right corner<br/></li>
							<li>Check either <u>Everything in the design</u> or <u>The selected shape</u></li>
							<li>Click on <u>.STL</u>
						</ol>
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>
