---
layout: none
---
<!DOCTYPE html>
  <html lang="en">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Robot Information</title>
    <link rel="stylesheet" type="text/css" href="/scouting/css/style.css" />
    <link rel="icon" type="img/png" href="/assets/images/ZLogo.png" />
    <link rel="apple-touch-icon" type="img/png" href="/assets/images/ZLogo.png" />
  </head>

  <body>
    <div class="pageoutline">
      {% include header.html %}
      {% include navbar.html %}
      <div class="pagecontent">
        <h1>Robot Information</h1>
          <p class="paragraph">This the Robot homepage. Here, you can find information about each robot's functionality and controls.</p>
        <h2>2016 Sparky</h2>
          <center>
            <p>Sparky image goes here</p>
            <p>Click <a href="sparky.html">HERE</a> to go to Sparky's page.</p>
          </center>
        <h2>2017 Heart of the Beast</h2>
          <center>
            <p>Heart of the Beast image goes here</p>
            <p>Click <a href="heartofbeast.html">HERE</a> to go to the Heart of the Beast's page.</p>
          </center>
        <h2>2018 Example 1</h2>
          <center>
            <p>Example 1 image goes here</p>
            <p>Backstory: When the bumperboys were born, the first words that came out of their mouths was simultaneously saying, "The 2018 robot shall be named Example 1". Everyone was confused that day, but now they know what it means. We named the robot before some of y'all were born, so we've got dibs.</p>
          </center>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
