---
layout: none
---
<!DOCTYPE html>
  <html lang="en">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Sparky</title>
    <link rel="stylesheet" type="text/css" href="/scouting/css/style.css" />
    <link rel="icon" type="img/png" href="/assets/images/ZLogo.png" />
    <link rel="apple-touch-icon" type="img/png" href="/assets/images/ZLogo.png" />
  </head>

  <body>
    <div class="pageoutline">
      {% include header.html %}
      {% include navbar.html %}
      <div class="pagecontent">
        <h1>Sparky</h1>
          <h2>About Sparky</h2>
            <center>
              <p>image goes here, and some text stuff</p>
            </center>
          <h2>Functions</h2>
          <h2>Features</h2>
          <h2>Controls</h2>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
