<div class="navbar floatleft">
  <p><span style="text-decoration: underline;">Site Navigation</span><br />(Welcome to 2001, folks!)</p>
  <p><a href="/scouting/index.html">Site Home</a></p>
  <p><a href="/scouting/bumperboys.html">About the Bumper Boys with a Z</a></p>
  <p><a href="/scouting/second.html">About SECOND</a></p>
  <p><a href="/scouting/scouting.html">Scouting Home</a></p>
  <p><a href="/scouting/bumpers.html">Bumpers Home</a></p>
  <p><a href="/scouting/computers.html">Computers Home</a></p>
  <p><a href="/scouting/robots">Robot Information</a></p>
  <p><a href="/scouting/resources.html">Resources and Documents</a></p>
  <p><a href="/scouting/guides">Guides</a></p>
  <p><a href="/main">BEASTBot Home</a></p>
</div>