---
layout: none
---
<!DOCTYPE html>
	<html lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>About the Bumper Boys with a Z</title>
		<link rel="stylesheet" type="text/css" href="/scouting/css/style.css" />
		<link rel="icon" type="img/png" href="/assets/images/ZLogo.png" />
		<link rel="apple-touch-icon" type="img/png" href="/assets/images/ZLogo.png" />
	</head>

	<body>
		<div class="pageoutline">
			<div class="header">
				<img src="/assets/images/ZLogo.png" height="150" width="150" alt="Bumper Boys with a Z logo" class="floatleft flip" />
				<img src="/assets/images/Cougear.png" height="150" width="150" alt="Cougear logo" class="floatright flip" />
				<p class="marqueeBB">Bumper Boys with a Z</p>
			</div>
			{% include navbar.html %}
			<div class="pagecontent">
				<h1>About the Bumper Boys with a Z</h1>
					<center>
						<img src="/assets/images/HatTie.jpg" width="700" alt="Bumper Boys Outfit" />
					</center>
					<p class="paragraph">We're Ben and Peter, a couple guys with weird hats that make bumpers. We have been on the team since the 2016 Stronghold season. We are expanding our skills into the computer field, and are striving to be a part of the programming team beginning with the 2018 season. Our background includes HTML coding (we made this site!) and Apple computer repair. An amazing combo, we know.</p>
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>
