---
layout: none
---
<!DOCTYPE html>
	<html lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Bumpers Home</title>
		<link rel="stylesheet" type="text/css" href="/scouting/css/style.css" />
		<link rel="icon" type="img/png" href="/assets/images/ZLogo.png" />
		<link rel="apple-touch-icon" type="img/png" href="/assets/images/ZLogo.png" />
	</head>

	<body>
		<div class="pageoutline">
			{% include header.html %}
			{% include navbar.html %}
			<div class="pagecontent">
				<h1>Bumper tutorial coming soon!</h1>
			<h2>Bumper documents</h2>
			<ul>
			<li><a href="/assets/files/2x2855.psd">Bumper Number Template</a></li>
		</ul>
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>
