---
layout: none
---
<!DOCTYPE html>
	<html lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Bumper Boys with a Z</title>
		<link rel="stylesheet" type="text/css" href="/scouting/css/style.css" />
		<link rel="icon" type="img/png" href="/assets/images/ZLogo.png" />
		<link rel="apple-touch-icon" type="img/png" href="/assets/images/ZLogo.png" />
	</head>

	<body>
		<div class="pageoutline">
			{% include header.html %}
			{% include navbar.html %}
			<div class="pagecontent">
				<h1>Welcome to Bumper Boys with a Z!</h1>
				<h2>A resource page for Team 2855</h2>
				<p class="paragraph">You have found yourself in an experiment in the making, the great resource center for team 2855 BEASTBot, by the Bumper Boys with a Z. Here you can find past and present game manuals, computer software, bumper building guides, and much more. You can also find our new experimental scouting page, a system which we hope to develop into a real time scouting system we can use at tournaments that everyone can access. This page will be receiving updates in the coming months, and I hope that all BEASTBot members will be able to benefit from this project! Keep in mind that this is a work in progress, so some things will look incomplete.<br/>-The Bumper Boys with a Z.</p>
				<center>
					<img src="/assets/images/TeamPhoto.jpg" alt="team photo" />
				</center>
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>