---
layout: none
---
<!DOCTYPE html>
	<html lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Resources and Documents</title>
		<link rel="stylesheet" type="text/css" href="/scouting/css/style.css" />
		<link rel="icon" type="img/png" href="/assets/images/ZLogo.png" />
		<link rel="apple-touch-icon" type="img/png" href="/assets/images/ZLogo.png" />
	</head>

	<body>
		<div class="pageoutline">
			{% include header.html %}
			{% include navbar.html %}
			<div class="pagecontent">
				<h1>Resources and Documents</h1>
				<h2>Game Manuals</h2>
				<ul>
					<li><a href="https://firstfrc.blob.core.windows.net/frc2019/Manual/2019FRCGameSeasonManual.pdf">2019 FRC Game Season Manual (latest)</a></li>
					<li><a href="/assets/files/2019rules.pdf">2019 FRC Game Season Manual (v0) (mirror, don't download, it's outdated)</a></li>
					<li><a href="/assets/files/2018rules.pdf">2018 FRC Game Season Manual (v11)</a></li>
					<li><a href="/assets/files/2017rules.pdf">2017 FRC Game Season Manual</a></li>
				</ul>
				<h2>Helpful Stuff</h2>
				<ul>
					<li><a href="/assets/files/2018cheatSheet.png">2018 Cheat Sheet</a></li>
					<li>Playing Field Details:</li>
					<li>-<a href="/assets/files/teamDrawings.pdf">Team Drawings</a></li>
					<li>-<a href="/assets/files/fieldDrawings-PowerUp.pdf">Field Drawings - POWER UP</a></li>
					<li>-<a href="/assets/files/fieldDrawings-evergreen.pdf">Field Drawings - Evergreen</a></li>
					<li>-<a href="/assets/files/layout&marking.pdf">Layout & Marking Diagram</a></li>
					<li><a href="https://www.firstinspires.org/resource-library/frc/competition-manual-qa-system" target="_blank">FIRST POWER UP official resources page</a></li>
					<li><a href="/assets/files/partsManual.pdf">Team 2855 Parts Manual v1.3</a></li>
					<li><a href="/assets/files/BEASTBotSlic3r.ini">Simple Slic3r configuration for both printers (recommended)</a></li>
					<li><a href="/assets/files/Slic3r-red.ini">Red Printer Slic3r configuration file</a></li>
					<li><a href="/assets/files/Slic3r-MOD-t.ini">MOD-t Slic3r configuration file</a></li>
				</ul>
				<h2>Images</h2>
				<ul>
					<li><a href="/assets/images/Cougear.png">Cougear</a></li>
					<li><a href="/assets/images/ZLogo.png">Bumper Boys with a Z logo</a></li>
				</ul>
				<em style="float: right; padding-right: 3px;">Updated 1/10/19</em>
			</div>
			{% include footer.html %}>
		</div>
	</body>
</html>
