---
layout: none
---
<!DOCTYPE html>
	<html lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Scouting Home</title>
		<link rel="stylesheet" type="text/css" href="/scouting/css/style.css" />
		<link rel="icon" type="img/png" href="/assets/images/ZLogo.png" />
		<link rel="apple-touch-icon" type="img/png" href="/assets/images/ZLogo.png" />
	</head>

	<body>
		<div class="pageoutline">
		{% include header.html %}
		{% include navbar.html %}
		<div class="pagecontent">
			<h1>Welcome to Scouting</h1>
			<h2>You are on the local site!</h2>
			<p class="paragraph">Here, you can find all scouting data for tournaments completed since the 2017 MRI tournament. During tournaments, the online site will be updated nightly. Keep in mind that the website that you are accessing now is a different site than the one you can access at home, although they look identical. To access scouting data, go to the scouting website below.</p>
			<h1>Scouting Site</h1>
			<h2><a href="../wp/">WordPress Scouting Site</a></h2>
		</div>
		{% include footer.html %}
		</div>
	</body>
</html>