---
layout: none
---
<!DOCTYPE html>
	<html lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>About SECOND</title>
		<link rel="stylesheet" type="text/css" href="/scouting/css/style.css" />
		<link rel="icon" type="img/png" href="/assets/images/ZLogo.png" />
		<link rel="apple-touch-icon" type="img/png" href="/assets/images/ZLogo.png" />
	</head>

	<body>
		<div class="pageoutline">
			{% include header.html %}
			{% include navbar.html %}
			<div class="pagecontent">
				<h1>Welcome to the SECOND Automaton Contest!</h1>
					<h2>What do we stand for?</h2>
						<h3>Super</h3>
						<h3>Entertaining</h3>
						<h3>Contest</h3>
						<h3>Of</h3>
						<h3>Northern</h3>
						<h3>Delinquents</h3>
					<h2>Our Mission</h2>
						<p class="paragraph">SECOND strives to provide entertaining automaton contests for all northern delinquents.</p>
					<h2>Our Vision</h2>
						<p class="paragraph">We hope to one day have all northern delinquents participate in our program, so that we can increase education on automaton contests for all future generations. We hope that these trained northern delinquents will one day show future delinquents how to make automaton contests, so that the future northern delinquent's children can also teach their children, and so on, so that SECOND will leave a legacy of many lifetimes.</p>
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>